:root {
  --title-text-color: #212121;
  --descr-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--title-text-color);

  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
}

.features-title,
.projects-title {
  display: none;
}

/* header */
.header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header-logo {
  margin-right: 93px;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo > span {
  color: #000000;
}

.logo:hover {
  cursor: pointer;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.header .item {
  display: flex;
  align-self: center;
  position: relative;
  height: 100%;
}

.header .item:not(:last-child) {
  margin-right: 50px;
}

.header .contacts {
  margin-right: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header-list .link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .link::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.header-list .link.current::after {
  opacity: 1;
}

.contacts .link {
  display: inline-flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .link:hover,
.header-list .link:focus,
.header-list .link.current,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.header-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* hero section */

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../img/hero-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.btn {
  border: 0;
  border-radius: 4px;
}

.hero-button {
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* features */

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.features .item {
  width: 270px;
}

.features-illustr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features .title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .descr {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--descr-text-color);
}

/* services */

.services {
  padding-bottom: 94px;
}

.services .services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.services-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  line-height: 0;
}

.services .item {
  display: inline-block;
  position: relative;
}

.services-descr {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  padding-left: 0;
  margin-top: 50px;
}

.team .team-list > .item {
  background-color: var(--primary-white-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team .descr {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--descr-text-color);
  text-align: center;
}

.team-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding: 0;
}

.team-socials-item:not(:last-child) {
  margin-right: 10px;
}

.team-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.team-socials-icon {
  fill: currentColor;
}

/* clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
  margin-top: 50px;
}

.clients .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  background-color: var(--primary-white-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover,
.clients .link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .container {
  display: flex;
}

.footer .addr-block {
  margin-right: 70px;
}

.footer .logo > span {
  color: var(--primary-white-color);
}

.footer .address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address > .link {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .footer-link {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  font-weight: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.footer .contacts {
  margin-top: 9px;
  margin-bottom: 0;
  padding-left: 0;
}

.footer .item:not(:first-child) {
  margin-top: 9px;
}

.socials-block {
  padding-top: 12px;
  margin-right: 93px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer .socials-list {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footer .socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 10px;
}

.footer .socials-item:last-child {
  margin-right: 0;
}

.footer .socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--accent-color);
}

.footer .socials-icon {
  fill: #ffffff;
}

.footer .form-block {
  padding-top: 12px;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.footer-label input {
  display: block;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer .mail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-mail-icon {
  fill: var(--primary-white-color);
}

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;

  transform: translate(-50%, -50%) perspective(300px) scale(0.1) rotateX(180deg);
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  min-width: 528px;
  min-height: 581px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transform: translate(-50%, -50%) perspective(200px) scale(1) rotateX(360deg);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 600ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close .close {
  transition: fill 255ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close,
.modal-close:focus .close {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  width: 100%;
  margin-right: 0;
}

.modal .form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-group:not(:first-child) {
  margin-top: 10px;
}

.modal .form-group:nth-child(1) {
  margin-top: 10px;
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:hover + .icon,
.form-input:focus + .icon {
  fill: var(--accent-color);
}

.form-group .icon {
  position: absolute;
  bottom: 14px;
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form input {
  margin-top: 4px;
  padding: 12px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  resize: none;
  margin-top: 4px;
  height: 120px;
  display: block;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-group-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.form-group-checkbox .label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  user-select: none;
}

.form-group-checkbox .checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin: 0;
  border: none;
}

.custom-checkbox {
  margin-top: 0;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  background-color: transparent;
  background-image: url(../img/icons/modal-check.svg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  background-origin: border-box;
  border: 1px solid #212121;
  border-radius: 2px;
  pointer-events: none;
}

.checkbox:checked + .custom-checkbox .custom-icon {
  fill-opacity: 1;
}

.checkbox:checked + .custom-checkbox {
  border: none;
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.form-group-checkbox .link {
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-offset: 1px;
  margin-left: 4px;
}

.modal-form .form-btn {
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* portfolio page */

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-tabs {
  display: flex;
  justify-content: center;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.projects-tabs > .item:not(:last-child) {
  margin-right: 8px;
}

.tab-item {
  margin-bottom: 0;
}

.projects-button {
  width: 100%;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-button:hover,
.projects-button:focus,
.projects-button:active {
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 3px 2px rgba(0, 0, 0, 0.2);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 50px;
}

.projects .project-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.project-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects .overlay-block {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .item-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.projects .overlay {
  position: absolute;
  top: 100%;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.projects-list {
  line-height: 0;
}

.projects-list .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-list .descr {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--descr-text-color);
}

.project-item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 3px 2px rgba(0, 0, 0, 0.2);
}

.project-item:hover .overlay {
  transform: translateY(-100%);
}

.project-item:hover .overlay-block {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
