.member__socials {
  justify-content: center;
  margin-top: 16px;
  padding: 0;
}
.member__social-link {
  background-color: transparent;
  color: #afb1b8;
}
.member__social-icon {
  fill: currentColor;
}
